.benefits-container {
  overflow: hidden;
  position: relative;
  height: 480px;
}

.benefit-gb-img {
  opacity: 0.5;

  position: absolute;
  left: 0px;
  top: -126px;
  width: 100%;
  height: auto;
}
.benefit-card-container {
  padding: 100px 0px;
}
